.auth {
    display: flex;
     justify-content: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 2rem auto;
    width: 70%;
    max-width: 200px;
  }
  
  input {
    background: #FBEEFF;
    border-radius: 10px;
    margin-top: 0.5rem;
    outline: none;
    padding: 0.5em 1em;
  }
  
  button {
    background: #131419;
    color: #ffffff;
    border: 2px solid #FBEEFF;
    border-radius: 10px;
    padding: 3px 7px;
    outline: none;
    margin-top: 1rem;
  }

  .error{
    color:#B22222;
    font-size: 1.2rem;
  }

  input.ng-touched.ng-invalid{
    background: #CD5C5C;
  }