.users{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid #4447E2;
    font-size: 1.5rem;
    height: calc(100vh - 80px);
     
}

.users__search{
    margin: 1rem 0 0 0;
}

.users__list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.users__badge{
    background: #DB7093;
    border-radius: 2px;
    margin: 0 0 0 0.5rem;
}


input{
    border: 2px solid transparent;
    outline: none;
    min-height: 2.6rem;
    border-radius: 5px;
    &:hover{
      outline: none;
      background:#FFB6C1;
    }
    &:focus{
      border: 2px solid #4447E2;
     
    }
  }