/* You can add global styles to this file, and also import other style files */


body {
    background: #131419;
    color: #ffffff;
    font-size: 10px;
    font-family: 'SF pro';
  }
  
  .ui__blue-btn {
    color: #ffffff;
    border-radius: 10px;
    border: 2px solid #4447E2;
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
  }